[project]
	description = just another repo for craete a new repository named hello-world
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wanqunintel
[access "refs/for/refs/*"]
	read = group user/wanqunintel
	push = group user/wanqunintel
	label-Code-Review = -2..+2 group user/wanqunintel
	label-Verified = -1..+1 group user/wanqunintel
	rebase = group user/wanqunintel
	removeReviewer = group user/wanqunintel
	submit = group user/wanqunintel
[access "refs/heads/*"]
	read = group user/wanqunintel
	create = group user/wanqunintel
	push = +force group user/wanqunintel
	pushMerge = group user/wanqunintel
[access "refs/tags/*"]
	push = group user/wanqunintel
	push = +force group user/wanqunintel
